/* Global */
body {
  margin: 0;
}

@font-face {
  font-family: harryPFont;
  src: url(fonts/harrypfont.ttf);
}

p {
  font-family: "Istok", sans-serif;
}

/* Student List */
/* left side */
#left_side {
  width: 30%;
  height: 100vh;
  position: fixed;
}

#left_content {
  margin: 20px;
}

#title {
  font-family: harryPFont;
  font-size: 5rem;
}

/* right side */
#right_side {
  width: 70%;
  height: 100%;
  left: 30%;
  position: absolute;
}

#section_wrapper {
  display: flex;
}

#student_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  padding: 10px;
}

#article {
  display: grid;
  box-shadow: 1px 1px 3px #333;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.txt_wrapper {
  margin: 10px;
}

.full-name {
  font-family: harryPFont;
  font-size: 2em;
  margin: 0;
}

.last-name {
  grid-column: 2;
}
/*  */

/* Pop Up Window */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#student_info {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: rgb(228, 228, 228);
  position: relative;
}

#closebutton {
  position: absolute;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
/*  */

/* Classes */
#sorting button.sortby {
  font-weight: 900;
}

.hide {
  visibility: hidden;
}

.gryffindor_color {
  border-width: 3px;
  border-left-style: solid;
  border-color: #b60000;
}

.slytherin_color {
  border-width: 3px;
  border-left-style: solid;
  border-color: #008000;
}

.ravenclaw_color {
  border-width: 3px;
  border-left-style: solid;
  border-color: #000a7b;
}

.hufflepuff_color {
  border-width: 3px;
  border-left-style: solid;
  border-color: #cbba00;
}
/*  */
